* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #094479;
    color: #8e7578;
}

label {
    font-weight: bold;
}

.header-dashboard {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.currentWeather-outputs,
.fiveDay {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: beige;
    width: 100%;
    max-width: 420px;
    padding: 2em;
   border-radius: 30px;
   margin: 0 auto;
}

.searchHistory {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    gap: 1rem;
}

h2 {
    text-align: center;
}

h3 {
    margin: 22px;
}