* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: bisque;
    color: dimgrey;
}

.header-dashboard {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.current-weather {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.five-day-forecast {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}